<%= stylesheet_link_tag 'pet/form', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= simple_form_for(petlost, html: { data: { controller: "alert", action: "submit->alert#showAlert" } }) do |f| %>

  <div class="container-large">
    <div class="set">
      <div class="container-option">
        <%= f.input :name, label: "Nombre", placeholder: "Escribe el nombre aquí"%>
      </div>
      <div class="container-option">
        <p class="form-label">Género</p>
        <div class="radio-container customed-radio-group">
           <%= f.input :gender, as: :radio_buttons, collection:['Hembra', 'Macho'], item_label_class: 'label-modif' %>
        </div>
      </div>
    </div>

    <div class = "set">
      <div class="container-option">
        <%= f.input :color, label: "Color", collection: Petlost::COLORS, hint: 'Selecciona su(s) color(es). Si tiene más de dos, selecciona primero bicolor/tricolor y luego sus colores!', input_html: {
          multiple: true, class: "customed-bg", data: {
            controller: "tom-select",
            tom_select_options_value: { tags: true }
            }
          } %>
      </div>

      <div class="container-option">
        <div data-controller= 'type-pet'>
          <%# <label for="petlost_type_pet">Tipo de animal</label> %>
          <div class="pb-2">
            <p class="form-label">Tipo de animal</p>

            <div class="radio-container customed-radio-group">
              <%= f.input :type_pet, as: :radio_buttons, collection: ['Perro', 'Gato', 'Otro'], label: false, legend: false, item_label_class: 'label-modif',
                        input_html: {
                          data: {
                            action: "change->type-pet#showBreed"
                            },
                          } %>
            </div>
          </div>

          <div class="container-type">
            <%# contenedor perros %>
            <div data-type-pet-target="perro" class="d-none">
              <%= f.input :breed, label: false, collection: Petfound::DOGBREEDS, prompt: 'Selecciona su raza' %>
            </div>
            <%# contenedor gatos %>
            <div data-type-pet-target="gato" class="d-none">
              <%= f.input :breed, label: false, collection: Petfound::CATBREEDS, prompt: 'Selecciona su raza' %>
            </div>
            <%# contenedor otros %>
            <div data-type-pet-target="otro" class="d-none">
              <%= f.input :breed, label: false, placeholder: 'Escribe el tipo de animalito' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= f.input :signs, label: 'Características/peculiaridades', placeholder: "Una buena descripción hará más fácil identificarlo!"%>

    <div class="set">
      <div class="container-option">
        <%= f.input :day_lost, label:'¿Cuándo se perdió?', placeholder: 'Selecciona una fecha',
                as: :string,
                input_html: {
                  data: {
                    controller: "datepicker",
                    datepicker_today_value: Date.today
                  }
                } %>
      </div>

      <div class="container-option">
        <%= f.input :photos, as: :file, label: 'Adjunta una foto o más fotos', input_html: { multiple: true } %>
        <% if @petlost.photos.attached? %>
          <p class= "form-label">Imágenes actuales:</p>
          <div class="current-photo d-flex flex-wrap justify-content-evenly">
          <% @petlost.photos.each do |photo| %>
            <div style="width: 80px; height: 80px; overflow: hidden;">
              <%= cl_image_tag photo.key, style: "width: 100%; height: 100%;" %>
            </div>
          <% end %>
          </div>
        <% end %>
      </div>

    </div>
    <%= f.input :address, label: "Ingresa la dirección donde se perdió", placeholder: 'Escribe la dirección completa'%>
    <%= f.hidden_field :user_id, value:current_user.id %>
    <%= f.hidden_field :finded, value: false %>
  </div>

  <div class="custom-buttoms-form">
    <%# <button data-controller='alert' data-action="click->alert#showAlert">Click me</button> %>
    <%= link_to "Regresar", root_path, id: "back-home", class:"button-customed" %>
    <%= f.submit "Enviar", id: "submit-form", class:"button-customed"%>
  </div>
<% end %>
