<%= stylesheet_link_tag 'pet/form', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= simple_form_for(petlost) do |f| %>
  <%= f.input :name, label: "Nombre", placeholder: "Escribe el nombre aquí", label_html: { class: "pets-name" } wrapper_html: {class:}%>
  <div data-controller= 'type-pet'>
    <%= f.input :type_pet, label: 'Tipo de animalito',
                as: :radio_buttons, collection: ['Perro', 'Gato', 'Otro'],
                input_html: {
                  data: {
                    action: "change->type-pet#showBreed"
                    }
                  } %>

    <%# contenedor perros %>
    <div data-type-pet-target="perro" class="d-none">
      <%= f.input :breed, label: "Raza", collection: Petfound::DOGBREEDS, prompt: 'Selecciona su raza' %>
    </div>
    <%# contenedor gatos %>
    <div data-type-pet-target="gato" class="d-none">
      <%= f.input :breed, label: "Raza", collection: Petfound::CATBREEDS, prompt: 'Selecciona su raza' %>
    </div>
    <%# contenedor otros %>
    <div data-type-pet-target="otros" class="d-none">
      <%= f.input :breed, label: "Tipo de animal", placeholder: 'Escribe el tipo de animalito' %>
    </div>
  </div>

<div class = "bg-white">
  <%= f.input :color, label: "Color", collection: Petlost::COLORS, hint: 'Selecciona su(s) color(es). Si tiene más de dos, selecciona primero bicolor/tricolor y luego sus colores!', input_html: {
    multiple: true, class: "bg-primary", data: {
      controller: "tom-select",
      tom_select_options_value: { tags: true }
      }
    } %>
</div>
  <%= f.input :signs, label: 'Características/peculiaridades', placeholder: "Una buena descripción hará más fácil identificarlo!"%>
  <%= f.input :day_lost, label:'¿Cuándo se perdió?', placeholder: 'Selecciona una fecha',
              as: :string,
              input_html: {
                data: {
                  controller: "datepicker",
                  datepicker_today_value: Date.today
                }
              } %>
   <% if @petlost.photos.attached? %>
    <div class="current-photo">
      <p>Imagen actual:</p>
      <% @petlost.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
    </div>
   <% end %>
  <%= f.input :photos, as: :file, label: 'Adjunta una foto o más fotos', input_html: { multiple: true } %>
  <%= f.input :address, label: "¿Dónde se perdió?", placeholder: "Ingresa la dirección exacta", class:"pets-weight" %>
  <%= f.hidden_field :user_id, value:current_user.id %>
  <%= f.hidden_field :finded, value: false %>
  <%= f.submit %>
<% end %>
