<%= stylesheet_link_tag 'pet/showstyle', media: 'all', 'data-turbolinks-track': 'reload' %>

<body style="background: linear-gradient(to bottom, #0079c2, #ffffff);">
  <!-- Contenedor principal -->
  <div class="container-fluid mt-1 p-2 rounded" style="max-width: 1200px; margin: 0 auto;">
    <!-- Fila de navegación -->
    <div class="row align-items-center mb-5">
      <div class="col text-start">
        <%= link_to petlosts_path, class: "btn btn-primary text-white align-items-center justify-content-center me-2" do %>
          <%= image_tag 'icons8-home.png', alt: 'Volver', width: 32, height: 32, class: 'me-2' %> Volver
        <% end %>
      </div>

      <!-- Columna central para el nombre del perro y la fecha -->
      <div class="col text-center">
        <h1 class="text-white mb-1" style="font-size: 2.5rem;"><%= @petlost.name %></h1>
        <p class="text-white mb-0" style="font-size: 1.5rem;">Perdido el <%= @petlost.day_lost.strftime("%d/%m/%Y") %></p>
          <% current_date = Date.today %>
          <% @petlost.day_lost  %>
          <% conteo_dias = (current_date - @petlost.day_lost).to_i %>
          <% dia = conteo_dias > 1 ? "días" : "día" %>
        <p class="text-white mb-0">Lleva <%=conteo_dias%> <%=dia%> lejos de casa</p>
      </div>

      <!-- Columna derecha para botones -->
      <div class="col text-end">
        <div class="btn-group d-flex align-items-center justify-content-center" role="group" aria-label="Acciones">
          <% if policy(@petlost).edit? %>
            <%= link_to edit_petlost_path(@petlost), class: "btn btn-primary btn-sm me-2 text-white", style: "font-size: 1rem;" do %>
              <i class="fa-solid fa-marker me-2"></i> Editar
            <% end %>
          <% end %>

          <% if policy(@petlost).destroy? %>
            <button type="button" class="btn btn-primary btn-md text-white" id="confirmDeleteButton" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
              <i class="fa-solid fa-dog me-2"></i> Eliminar
            </button>
          <% end %>

          <% if policy(@petlost).update? %>
            <!-- Botón 'Lo encontré' -->
            <button type="button" class="btn btn-primary btn-md text-white" id="loEncuenteButton" data-bs-toggle="modal" data-bs-target="#confirmModal">
              <i class="fa-solid fa-dog me-2"></i> Lo encontré
            </button>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Carrusel de imágenes con 3 imágenes simultáneas -->
    <div class="row mb-3">
      <div class="col">
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
          <!-- Indicadores del carrusel -->
          <div class="carousel-indicators">
            <% total_photos = @petlost.photos.to_a + Array.new([6 - @petlost.photos.count, 0].max, 'default-image.png') %>
            <% (total_photos.each_slice(3).to_a).each_with_index do |_, index| %>
              <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>" aria-current="<%= 'true' if index == 0 %>" aria-label="Slide <%= index + 1 %>"></button>
            <% end %>
          </div>

          <div class="carousel-inner">
            <% total_photos.each_slice(3).with_index do |photos_group, index| %>
              <div class="carousel-item <%= 'active' if index == 0 %>">
                <div class="row">
                  <% photos_group.each do |photo| %>
                    <div class="col-md-4">
                      <% if photo.is_a?(String) %> <!-- Imagen por defecto -->
                        <%= image_tag(photo, class: "d-block w-100 rounded-lg", style: "width: 400px; height: 250px; object-fit: cover;") %>
                      <% else %> <!-- Imágenes subidas por el usuario -->
                        <%= cl_image_tag(photo.key, class: "d-block w-100 rounded-lg", width: 400, height: 250, crop: "fill", gravity: "auto", style: "object-fit: cover;") %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

          <!-- Controles de navegación -->
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>
      </div>

      <div class="d-flex justify-content-between mt-3">
        <div>
            <% if @petlost.user && @petlost.user.phone_number.present? %>
            <%= link_to "https://wa.me/#{@petlost.user.phone_number}?text=Hola.%20Vengo%20de%20Encuentra%20Mascotas.%20Tengo%20información%20sobre%20tu%20mascota%20#{@petlost.name}:%20https://www.encuentramascotas.org/#{url_for(@petlost)}",
                        class: "btn btn-success d-flex align-items-center justify-content-center px-4 py-2 text-white mx-2",
                        target: "_blank" do %>
              <i class="fab fa-whatsapp me-2" style="font-size: 1.5rem;"></i>
              <span style="font-size: 1.2rem;">Contactar por WhatsApp</span>
            <% end %>
          <% end %>
        </div>

        <div class="d-flex">

          <div class="d-flex align-items-center me-3">
            <h1 class="text-white mb-1" style="font-size: 2rem;">Cartel de búsqueda:</h1>
          </div>

          <%= link_to download_petlosts_path(@petlost), class: "btn btn-success d-flex align-items-center justify-content-center px-4 py-2 text-white mx-2" do %>
            <i class="fas fa-download me-2" style="font-size: 1.5rem;"></i>
            <span style="font-size: 1.2rem;">Descargar</span>
          <% end %>

          <%= link_to preview_petlosts_path(@petlost), class: "btn btn-success d-flex align-items-center justify-content-center px-4 py-2 text-white mx-2" do %>
            <i class="fas fa-eye me-2" style="font-size: 1.5rem;"></i>
            <span style="font-size: 1.2rem;"> Vista previa</span>
          <% end %>
        </div>
      </div>

    </div>

    <!-- Fila de datos del dueño y del perro -->
    <div class="row">
      <!-- Columna izquierda: Datos del dueño y del perro -->
      <div class="col-md-6 h-100">
        <!-- Tarjeta Datos del Dueño -->
        <div class="mt-2 p-3 shadow rounded-lg bg-white w-100" style="border-radius: 20px; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);">
          <div class="row align-items-center">
            <div class="col-9 text-start ps-3">
              <h6 class="mb-1.4" style="font-size: 1rem; color: #0079c1;">Datos del dueño</h6>
              <p class="mb-1" style="font-size: 0.8rem;">
                <i class="fas fa-user me-2" style="color: #0079c1;"></i>
                <strong style="color: #0079c1;">Nombre:</strong> <span style="font-weight: normal;"><%= @petlost.user.name %></span>
              </p>
              <p class="mb-1" style="font-size: 0.8rem;">
                <i class="fas fa-envelope me-2" style="color: #0079c1;"></i>
                <strong style="color: #0079c1;">Correo:</strong> <span style="font-weight: normal;"><%= @petlost.user.email %></span>
              </p>
              <p class="mb-0" style="font-size: 0.8rem;">
                <i class="fas fa-phone me-2" style="color: #0079c1;"></i>
                <strong style="color: #0079c1;">Teléfono:</strong> <span style="font-weight: normal;"><%= @petlost.user.phone_number %></span>
              </p>
            </div>
            <div class="col-3 text-start">
              <% if @petlost.user.photo.attached? %>
                <%= image_tag @petlost.user.photo, class: "img-fluid rounded-circle", style: "width: 70px; height: 70px; object-fit: cover; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);" %>
              <% else %>
                <i class="fas fa-user-circle" style="font-size: 3rem; color: #0079c1;"></i>
              <% end %>
            </div>
          </div>
        </div>

        <!-- Tarjeta Datos del Perro -->
        <div class="mt-2 p-3 shadow rounded-lg bg-white w-100" style="border-radius: 20px; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);">
          <div class="row align-items-center">
              <h6 class="mb-1" style="font-size: 1rem; color: #0079c1;">Datos de la mascota</h6>
            <div class="col-10 text-start ps-3 info-group">

              <div class="info-item">
                <i class="fas fa-map-marker-alt me-2"></i>
                <div class="d-flex flex-column container-details">
                  <p class="m-0 text"><strong>Especie</strong></p>
                  <p class= "m-0"><%= @petlost.type_pet %></p>
                </div>
              </div>

              <div class="info-item">
                <i class="fas fa-paw me-2"></i>
                <div class="d-flex flex-column container-details">
                  <p class="m-0 text"><strong>Raza:</strong></p>
                  <p class= "m-0"><%= @petlost.breed %></p>
                </div>
              </div>

              <div class="info-item">
                <i class="fas fa-map-marker-alt me-2"></i>
                <div class="d-flex flex-column container-details">
                  <p class="m-0 text"><strong>Género</strong></p>
                  <p class= "m-0"><%= @petlost.gender %></p>
                </div>
              </div>

              <div class="info-item">
                <i class="fas fa-calendar-alt me-2"></i>
                <div class="d-flex flex-column container-details">
                  <p class="m-0 text"><strong>Perdido el</strong></p>
                  <p class= "m-0"><%= @petlost.day_lost.strftime("%d/%m/%Y") %></p>
                </div>
              </div>

              <div class="info-item">
                <i class="fas fa-map-marker-alt me-2"></i>
                <div class="d-flex flex-column container-details">
                  <p class="m-0 text"><strong>Se perdió en</strong></p>
                  <p class= "m-0"><%= @petlost.address.capitalize %></p>
                </div>
              </div>

              <div class="info-item">
                <i class="fas fa-palette me-2"></i>
                <%# <i class="fas fa-map-marker-alt me-2"></i> %>
                <div class="d-flex flex-column container-details">
                  <p class="m-0 text"><strong>Color</strong></p>
                  <% if @petlost.color.present? %>
                    <% colors_array = JSON.parse(@petlost.color).reject(&:blank?) %>
                  <p class="mb-0"><%= colors_array.join(", ") %></p>
                  <% end %>
                </div>
              </div>

              <div class="info-item">
                <i class="fas fa-map-marker-alt me-2"></i>
                <div class="d-flex flex-column container-details">
                  <p class="m-0 text"><strong>Estado</strong></p>
                  <% status_pet = @petlost.finded == false ? "Encontrado!" : "Perdido" %>
                  <p class= "m-0"><%= status_pet %></p>
                </div>
              </div>

              <div class="info-item">
                <i class="fas fa-map-marker-alt me-2"></i>
                <div class="d-flex flex-column container-details">
                  <p class="m-0 text"><strong>Señas particulares</strong></p>
                  <p class= "m-0"><%= @petlost.signs %></p>
                </div>
              </div>

            </div>
            <div class="col-2 text-center">
              <i class="fas fa-dog" style="font-size: 2.5rem; color: #0079c1;"></i>
            </div>
          </div>
        </div>

        <!-- Botón de WhatsApp -->
        <div class="d-flex justify-content-center mt-3">
          <% if @petlost.user && @petlost.user.phone_number.present? %>
            <%= link_to "https://wa.me/#{@petlost.user.phone_number}?text=Hola.%20Vengo%20de%20Encuentra%20Mascotas.%20Me%20puedes%20ayudar%20a%20encontrar%20a%20mi%20mascota:%20https://www.encuentramascotas.org/#{url_for(@petlost)}",
                        class: "btn btn-success d-flex align-items-center justify-content-center px-4 py-2",
                        target: "_blank" do %>
              <i class="fab fa-whatsapp me-2" style="font-size: 1.5rem;"></i>
              <span style="font-size: 1.2rem;">Contactar por WhatsApp</span>
            <% end %>
          <% end %>
        </div>
      </div>

      <!-- Columna derecha: Mapa -->
      <div class="col-md-6 mt-2">
        <div class="p-1 shadow rounded-lg bg-white w-100" style="border-radius: 20px; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);">
          <div id="map" style="height: 250px; width: 100%; border-radius: 20px;"></div>
        </div>
      </div>
    </div>
  </div> <!-- Cierre del contenedor principal -->

  <!-- Modales -->

<%# modal para eliminar %>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Encabezado del modal -->
        <div class="modal-header">
          <h5 class="modal-title" id="confirmModalLabel">Confirmación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <!-- Cuerpo del modal -->
        <div class="modal-body">
          <p>¿Eliminar a tu mascota?</p>
        </div>
        <!-- Pie del modal -->
        <div class="modal-footer">
          <!-- Asegúrate de que todos los botones tienen la misma clase de tamaño y estilo -->
          <button type="button" class="btn border border-dark" data-bs-dismiss="modal">No</button>
          <%= link_to "Sí", petlost_path(@petlost), class: "btn btn-primary btn-sm me-4 text-white", data: { turbo_method: :delete }, style: "font-size: 1rem;"%>
        </div>
      </div>
    </div>
  </div>

<%# fin modal %>


  <!-- Modal de Confirmación -->
  <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmModalLabel">Confirmación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <p>¿Encontraste tu mascota?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn border border-dark" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn btn-success text-white" id="confirmYesButton">Sí</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de Feedback -->
  <div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="feedbackModalLabel">¡Qué gusto! Déjanos tu opinión</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <form id="feedbackForm" action="<%= reviews_path %>" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <%= hidden_field_tag :petlost_id, @petlost.id %> <!-- Enviar el petlost_id -->

            <div class="mb-3">
              <label for="feedbackInput" class="form-label">Tu opinión</label>
              <textarea class="form-control" id="feedbackInput" name="review[content]" rows="3" placeholder="Escribe tu opinión aquí..."></textarea>
            </div>

            <!-- Calificación con Estrellas -->
            <div class="mb-3">
              <label for="rating">Tu calificación</label>
              <div id="rating" class="star-rating">
                <% (1..5).reverse_each do |i| %>
                  <input type="radio" id="star<%= i %>" name="review[rating]" value="<%= i %>" />
                  <label for="star<%= i %>" title="<%= i %> estrellas">
                    <i class="fa fa-star"></i>
                  </label>
                <% end %>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn border border-dark" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Script para inicializar los modales y el mapa -->
  <script>
    document.addEventListener('turbo:load', function() {
      // Inicializar el mapa
      var mapElement = document.getElementById('map');
      if (mapElement) {
        mapboxgl.accessToken = '<%= ENV['MAPBOX_API_KEY'] %>';

        const map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/streets-v11',
          center: [<%= @petlost.longitude %>, <%= @petlost.latitude %>],
          zoom: 13.5,
        });

        const el = document.createElement('div');
        el.className = 'marker';

        new mapboxgl.Marker(el)
          .setLngLat([<%= @petlost.longitude %>, <%= @petlost.latitude %>])
          .addTo(map);
      }

      // Inicializar los modales
      var confirmModalEl = document.getElementById('confirmModal');
      var feedbackModalEl = document.getElementById('feedbackModal');

      var confirmModal = new bootstrap.Modal(confirmModalEl);
      var feedbackModal = new bootstrap.Modal(feedbackModalEl);

      // Manejar el clic en el botón "Sí" del confirmModal
      var confirmYesButton = document.getElementById('confirmYesButton');
      confirmYesButton.addEventListener('click', function() {
        confirmModal.hide();
      });

      // Abrir el modal de feedback después de cerrar el de confirmación
      confirmModalEl.addEventListener('hidden.bs.modal', function () {
        feedbackModal.show();
      });

      // Manejar el envío del formulario de feedback
      var feedbackForm = document.getElementById('feedbackForm');
      feedbackForm.addEventListener('submit', function(event) {
        var feedbackText = document.getElementById('feedbackInput').value.trim();
        if (feedbackText) {
          feedbackForm.submit();
        }
      });
    });
  </script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .carousel-item .col-md-4 {
      padding: 0 5px;
    }
    .carousel-item img {
      width: 100%;
      height: auto;
      border: 1px solid #fff;
    }
    @media (max-width: 768px) {
      .carousel-item .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    .marker {
      background-image: url('<%= asset_path("icon.png") %>');
      background-size: cover;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      cursor: pointer;
    }
    .modal.fade .modal-dialog {
      transition: transform 0.3s ease-out;
    }

    /* Estilos para las estrellas */
    .star-rating {
      display: flex;
      justify-content: center;
      direction: rtl; /* Esto asegura que las estrellas se llenen de derecha a izquierda */
    }

    .star-rating input[type="radio"] {
      display: none;
    }

    .star-rating label {
      font-size: 2rem;
      color: #ddd;
      cursor: pointer;
    }

    .star-rating input[type="radio"]:checked ~ label {
      color: #ffc107;
    }

    .star-rating label:hover,
    .star-rating label:hover ~ label {
      color: #ffc107;
    }
  </style>
</body>
