
<div class = 'container'>
  <h1>Listado de Mascotas Encontradas</h1>
  <% @petfounds.each do |petfound| %>
    <h2><%= petfound.details %></h2>
    <div class = 'row'>
      <div class = "col-4">
        <%# carrusel %>
          <div class = "contenedor-carrusel">
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <% petfound.photos.each_with_index do |photo, index| %>
                  <div class="carousel-item <%= 'active' if index == 0 %>">
                    <%= cl_image_tag photo.key, crop: :fill, class: "d-block w-100" %>
                  </div>
                <% end %>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        <%# fin carrusel %>
      </div>
    </div>

    <p>Raza: <%= petfound.breed %></p>
    <% if petfound.color.present? %>
      <% colors_array = JSON.parse(petfound.color).reject(&:blank?) %>

      <% if colors_array.size == 1 %>
        <p>Color: <%= colors_array.join %></p>
        <% else %>
        <p>Color: <%= colors_array.join(", ") %></p>
      <% end %>
    <% end %>
    <p>Señas particulares: <%= petfound.signs %></p>
    <p>Encontrado el: <%= petfound.day_found %></p>
    <p>Dirección donde fue encontrado: <%= petfound.address %></p>

    <%= link_to 'Ver detalles', petfound_path(petfound) %>
    <hr>
  <% end %>
  <%= link_to 'Crear nueva mascota encontrada', new_petfound_path, class: "btn btn-primary" %>

</div>
