<!-- Meta etiqueta del viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Enlace a FontAwesome para los iconos -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-..." crossorigin="anonymous">
<%= stylesheet_link_tag 'pet/showstyle', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="fondo-rosa-section">
  <!-- Carrusel de imágenes con 3 imágenes simultáneas -->
  <div class='mt-3'>
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <!-- Indicadores del carrusel -->
      <div class="carousel-indicators">
        <% total_photos = @petfound.photos.to_a + Array.new([6 - @petfound.photos.count, 0].max, 'default-image.png') %>
        <% total_photos.each_slice(3).each_with_index do |_, index| %>
          <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="<%= index %>" class="<%= 'active' if index.zero? %>" aria-current="<%= 'true' if index.zero? %>" aria-label="Slide <%= index + 1 %>"></button>
        <% end %>
      </div>

      <div class="carousel-inner">
        <% total_photos.each_slice(3).with_index do |photos_group, index| %>
          <div class="carousel-item <%= 'active' if index.zero? %>">
            <div class="row">
              <% photos_group.each do |photo| %>
                <div class="col-md-4">
                  <div class="image-container"> <!-- Contenedor de la imagen -->
                    <% if photo.is_a?(String) %> <!-- Imagen por defecto -->
                      <%= image_tag(photo, class: "carousel-image rounded-lg") %>
                    <% else %> <!-- Imágenes subidas por el usuario -->
                      <%= cl_image_tag(photo.key, class: "carousel-image rounded-lg", crop: "fill", gravity: "auto") %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <!-- Controles de navegación -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
  </div>

  <!-- Estilos Únicos -->
  <style>
    .image-container {
      height: 250px; /* Establece la altura fija */
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden; /* Asegura que las imágenes no se desborden */
    }

    .carousel-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    /* Elimina el flexbox en .carousel-item para evitar la superposición */
    .carousel-item {
      /* Eliminamos el uso de display: flex para que el carrusel funcione correctamente */
    }
  </style>

  <!-- Contenedor principal ampliado -->
  <div class="container-fluid p-3 rounded" style="max-width: 1300px; margin: 0 auto;">
    <!-- Fila de navegación -->
    <div class="row align-items-center mb-2">
      <!-- Columna izquierda para 'Volver a la lista' con imagen -->
      <div class="col text-start">
        <%= link_to petfounds_path, class: "btn btn-success text-white align-items-center justify-content-center me-2" do %>
          <%= image_tag 'icons8-home.png', alt: 'Volver', width: 32, height: 32, class: 'me-2' %> Volver
        <% end %>
      </div>

      <!-- Columna central para el nombre del perro y la fecha -->
      <div class="col-6 text-center">
        <div class="title">¡Mascotita a la vista!</div>
        <div class="title2 pb-1">Nos reportan: <%= @petfound.details %></div>
        <% current_date = Date.today %>
        <% conteo_dias = (current_date - @petfound.day_found).to_i %>
        <% dia = conteo_dias > 1 ? "días" : "día" %>
        <% if @petfound.facts == "Le estoy dando refugio" %>
          <% detalles_avistamiento = "Me están dando refugio desde el #{@petfound.day_found.strftime("%d/%m/%Y")}" %>
          <% mensaje_avistamiento = "Ayúdame a difundir! Quiero volver pronto a casa." %>
        <% elsif @petfound.facts == "Iba pasando por la zona y lo vi" %>
          <% detalles_avistamiento = "Estuve por #{@petfound.address} el #{@petfound.day_found.strftime("%d/%m/%Y")}" %>
          <% mensaje_avistamiento = "Me vieron por última vez hace #{conteo_dias} #{dia}" %>
        <% elsif @petfound.facts == "Otras circunstancias" %>
          <% detalles_avistamiento = "Me vieron en #{@petfound.address} el #{@petfound.day_found.strftime("%d/%m/%Y")}" %>
          <% mensaje_avistamiento = "Último avistamiento hace #{conteo_dias} #{dia}" %>
        <% end %>
        <div class="border-gradient pb-2 pt-1">
          <div class="subtitle"><%= detalles_avistamiento %></div>
          <div class="subtitle-2"
            style="background: linear-gradient(to right, rgba(247, 198, 199, 0), rgba(247, 198, 199, 0.75), rgba(247, 198, 199, 0));">
            <%= mensaje_avistamiento %>
          </div>
        </div>
      </div>

      <!-- Columna derecha para 'Editar' y 'Eliminar' con íconos -->
      <div class="col text-end d-flex justify-content-end align-items-center">
        <div class="btn-group me-2" role="group" aria-label="Acciones">
          <% if policy(@petfound).edit? %>
            <%= link_to edit_petfound_path(@petfound), class: "btn btn-primary btn-md text-white d-flex align-items-center" do %>
              <i class="fa-solid fa-marker me-2"></i> Editar
            <% end %>
          <% end %>

          <% if policy(@petfound).destroy? %>
            <button type="button" class="btn btn-primary btn-md text-white d-flex align-items-center" id="confirmDeleteButton" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
              <i class="fa-solid fa-dog me-2"></i>
              <p class="m-0">Eliminar</p>
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para eliminar -->
  <div class="modal fade" id="confirmDeleteModalPetfound" tabindex="-1" aria-labelledby="confirmDeleteModalPetfound" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Encabezado del modal -->
        <div class="modal-header">
          <h5 class="modal-title" id="confirmModalLabel">Confirmación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <!-- Cuerpo del modal -->
        <div class="modal-body">
          <p>¿Deseas eliminar este reporte?</p>
        </div>
        <!-- Pie del modal -->
        <div class="modal-footer">
          <!-- Asegúrate de que todos los botones tienen la misma clase de tamaño y estilo -->
          <button type="button" class="btn border border-dark" data-bs-dismiss="modal">No</button>
          <%= link_to "Sí", petfound_path(@petfound), class: "btn btn-primary btn-sm me-4 text-white", data: { turbo_method: :delete }, style: "font-size: 1rem;" %>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin modal -->

  <!-- Fila C: Datos del perro y la persona que lo encontró -->
  <div class="row">
    <!-- Columna izquierda: Datos del perro -->
    <div class="col-md-6 h-100">
      <!-- Tarjeta Datos del Perro -->
      <div class="mt-2 p-3 shadow rounded-lg bg-white w-100" style="border-radius: 20px; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);">
        <div class="row align-items-center container-general-datos">
          <div class="d-flex my-3 justify-content-between">
            <h6 class="m-0">Datos de la mascota</h6>
          </div>

          <div class="col-10 text-start px-4 info-group">
            <div class="info-item">
              <i class="fas fa-map-marker-alt me-3"></i>
              <div class="d-flex flex-column container-details">
                <p class="m-0 text"><strong>Especie</strong></p>
                <p class="m-0"><%= @petfound.type_pet %></p>
              </div>
            </div>
            <div class="info-item">
              <i class="fas fa-paw me-3"></i>
              <div class="d-flex flex-column container-details">
                <p class="m-0 text"><strong>Raza</strong></p>
                <p class="m-0"><%= @petfound.breed %></p>
              </div>
            </div>
            <div class="info-item">
              <i class="fas fa-map-marker-alt me-3"></i>
              <div class="d-flex flex-column container-details">
                <p class="m-0 text"><strong>Género</strong></p>
                <p class="m-0"><%= @petfound.gender %></p>
              </div>
            </div>
            <div class="info-item">
              <i class="fas fa-calendar-alt me-3"></i>
              <div class="d-flex flex-column container-details">
                <p class="m-0 text"><strong>Encontrado el</strong></p>
                <p class="m-0"><%= @petfound.day_found.strftime("%d/%m/%Y") %></p>
              </div>
            </div>
            <div class="info-item">
              <i class="fas fa-palette me-3"></i>
              <div class="d-flex flex-column container-details">
                <p class="m-0 text"><strong>Color</strong></p>
                <% if @petfound.color.present? %>
                  <% colors_array = JSON.parse(@petfound.color).reject(&:blank?) %>
                  <p class="mb-0"><%= colors_array.join(", ") %></p>
                <% end %>
              </div>
            </div>
            <div class="info-item">
              <i class="fas fa-map-marker-alt me-3"></i>
              <div class="d-flex flex-column container-details">
                <p class="m-0 text"><strong>Señas particulares</strong></p>
                <p class="m-0"><%= @petfound.signs %></p>
              </div>
            </div>
            <div class="info-item">
              <i class="fas fa-map-marker-alt me-3"></i>
              <div class="d-flex flex-column container-details">
                <p class="m-0 text"><strong>Detalles</strong></p>
                <p class="m-0"><%= @petfound.details %></p>
              </div>
            </div>
            <div class="info-item">
              <i class="fas fa-map-marker-alt me-3"></i>
              <div class="d-flex flex-column container-details">
                <p class="m-0 text"><strong>Hechos</strong></p>
                <p class="m-0"><%= @petfound.facts %></p>
              </div>
            </div>
          </div>
          <div class="col-2 text-center">
            <i class="fas fa-dog" style="font-size: 2.5rem; color: #0079c1;"></i>
          </div>

          <h6 class="my-3">Datos de la persona que lo encontró</h6>
          <!-- Tarjeta Datos de la Persona que lo encontró -->
          <div class="col-10 text-start px-4 info-group">
            <div class="info-item">
              <i class="fas fa-map-marker-alt me-3"></i>
              <div class="d-flex flex-column container-details">
                <p class="m-0 text"><strong>Nombre</strong></p>
                <p class="m-0"><%= @petfound.user.name %></p>
              </div>
            </div>

            <div class="info-item">
              <i class="fas fa-envelope me-3"></i>
              <div class="d-flex flex-column container-details">
                <p class="m-0 text"><strong>Correo</strong></p>
                <p class="m-0"><%= @petfound.user.email %></p>
              </div>
            </div>

            <div class="info-item">
              <i class="fas fa-phone me-3"></i>
              <div class="d-flex flex-column container-details">
                <p class="m-0 text"><strong>Teléfono</strong></p>
                <p class="m-0"><%= @petfound.user.phone_number %></p>
              </div>
            </div>
          </div>

          <div class="col-2 text-center">
            <% if @petfound.user.photo.attached? %>
              <%= image_tag @petfound.user.photo, class: "img-fluid rounded-circle", style: "width: 70px; height: 70px; object-fit: cover; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);" %>
            <% else %>
              <i class="fas fa-user-circle" style="font-size: 3rem; color: #0079c1;"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- Columna derecha: Mapa -->
    <div class="col-md-6 align-content-center">
      <div class="p-1 shadow rounded-lg bg-white w-100" style="border-radius: 20px; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);">
        <div id="map" style="height: 380px; width: 100%; border-radius: 20px;"></div>
      </div>
      <div class="info-item-customed mt-2 p-3 shadow rounded-lg bg-white w-100" style="border-radius: 20px; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);">
        <i class="fas fa-map-marker-alt me-3"></i>
        <div class="d-flex">
          <p class="m-0 text me-3">Se perdió en</p>
          <p class="m-0"><%= @petfound.address.capitalize %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Banner de WhatsApp para contactar -->
<div>
  <% if @petfound.user && @petfound.user.phone_number.present? %>
    <%= link_to "https://wa.me/#{@petfound.user.phone_number}?text=Hola.%20Vengo%20de%20Encuentra%20Mascotas.%20Me%20puedes%20ayudar%20a%20encontrar%20a%20mi%20mascota:%20https://www.encuentramascotas.org/#{url_for(@petfound)}",
          class: "list_thumb",
          target: "_blank" do %>
      <div class="list_thumb_description" style="background: rgba(247, 198, 199, .75);">
        <div class="box_align_thumb">
          <span>Click para ir al WhatsApp</span>
          <i class="fab fa-whatsapp me-3" style="font-size: 40px;"></i>
          <p style="font-size: 30px;"><strong>Cualquier información es sumamente valiosa</strong></p>
        </div>
      </div>
      <div class="list_thumb_img">
        <div class="box_align_thumb hover_text">
          <p class="m-0"><strong>¿Tienes pistas sobre mi familia?</strong></p>
          <p class="m-0">Por favor, comunícate al WhatsApp <i class="fab fa-whatsapp me-3" style="font-size: 40px;"></i>aquí!</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<!-- Scripts para mapa -->
<script>
  document.addEventListener('turbo:load', function() {
    var mapElement = document.getElementById('map');
    if (mapElement) {
      mapboxgl.accessToken = '<%= ENV['MAPBOX_API_KEY'] %>';

      const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [<%= @petfound.longitude %>, <%= @petfound.latitude %>],
        zoom: 13.5,
      });

      const el = document.createElement('div');
      el.className = 'marker';
      el.style.backgroundImage = 'url(<%= asset_path("icon.png") %>)';
      el.style.width = '46px';
      el.style.height = '46px';
      el.style.backgroundSize = '100%';

      new mapboxgl.Marker(el)
        .setLngLat([<%= @petfound.longitude %>, <%= @petfound.latitude %>])
        .addTo(map);
    }
  });
</script>
