<!-- Meta etiqueta del viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Enlace a FontAwesome para los iconos -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-..." crossorigin="anonymous">

<body style="background: linear-gradient(to bottom, #f7c6c7, #ffffff);">

  <!-- Contenedor principal ampliado -->
  <div class="container-fluid mt-1 p-2 rounded" style="max-width: 1200px; margin: 0 auto;">

  <!-- Fila de navegación -->
  <div class="row align-items-center mb-5">
    <!-- Columna izquierda para 'Volver a la lista' con imagen -->
    <div class="col text-start">
      <%= link_to petfounds_path, class: "btn btn-success text-white align-items-center justify-content-center" do %>
        <i class="fa-solid fa-house" style="font-size: 0.8rem;"></i> Volver
      <% end %>
    </div>

    <!-- Columna central para el nombre del perro y la fecha -->
    <div class="col text-center">
      <h1 class=" mb-1" style="font-size: 2.5rem;"><%= @petfound.details %></h1>
      <p class="text-black mb-0" style="font-size: 1.5rem;">Encontrado el: <%= @petfound.day_found %></p>
    </div>

    <!-- Columna derecha para 'Editar' y 'Eliminar' con íconos -->
    <div class="col text-end">
      <% if policy(@petfound).edit? %>
        <%= link_to edit_petfound_path(@petfound), class: "btn btn-primary btn-lg me-1", style: "font-size: 1rem;" do %>
          <i class="fa-solid fa-marker me-2"></i> Editar
        <% end %>
      <% end %>

      <% if policy(@petfound).destroy? %>
          <button type="button" class="btn btn-primary btn-md text-white" id="confirmDeleteButtonPetfound" data-bs-toggle="modal" data-bs-target="#confirmDeleteModalPetfound">
            <i class="fa-solid fa-dog me-2"></i> Eliminar
          </button>
      <% end %>
    </div>
  </div>

  <%# modal para eliminar %>

  <div class="modal fade" id="confirmDeleteModalPetfound" tabindex="-1" aria-labelledby="confirmDeleteModalPetfound" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Encabezado del modal -->
          <div class="modal-header">
            <h5 class="modal-title" id="confirmModalLabel">Confirmación</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
          </div>
          <!-- Cuerpo del modal -->
          <div class="modal-body">
            <p>¿Deseas eliminar este reporte?</p>
          </div>
          <!-- Pie del modal -->
          <div class="modal-footer">
            <!-- Asegúrate de que todos los botones tienen la misma clase de tamaño y estilo -->
            <button type="button" class="btn border border-dark" data-bs-dismiss="modal">No</button>
            <%= link_to "Sí", petfound_path(@petfound), class: "btn btn-primary btn-sm me-4 text-white", data: { turbo_method: :delete }, style: "font-size: 1rem;"%>
          </div>
        </div>
      </div>
    </div>

  <%# fin modal %>


  <!-- Carrusel de imágenes con 3 imágenes simultáneas -->
  <div class="row mb-3">
    <div class="col">
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicadores del carrusel -->
        <div class="carousel-indicators">
          <% total_photos = @petfound.photos.to_a + Array.new(6 - @petfound.photos.count, 'default-image.png') %>
          <% (total_photos.each_slice(3).to_a).each_with_index do |_, index| %>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>" aria-current="<%= 'true' if index == 0 %>" aria-label="Slide <%= index + 1 %>"></button>
          <% end %>
        </div>

        <div class="carousel-inner">
          <% total_photos.each_slice(3).with_index do |photos_group, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <div class="row">
                <% photos_group.each do |photo| %>
                  <div class="col-md-4">
                    <% if photo.is_a?(String) %> <!-- Imagen por defecto -->
                      <%= image_tag(photo, class: "d-block w-100 rounded-lg", style: "width: 400px; height: 250px; object-fit: cover;") %>
                    <% else %> <!-- Imágenes subidas por el usuario -->
                      <%= cl_image_tag(photo.key, class: "d-block w-100 rounded-lg", width: 400, height: 250, crop: "fill", gravity: "auto", style: "object-fit: cover;") %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>

        <!-- Controles de navegación -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Fila C: Datos del perro y la persona que lo encontró -->
  <div class="row">
    <!-- Columna izquierda: Datos del perro -->
    <div class="col-md-6 h-100">
      <!-- Tarjeta Datos del Perro -->
      <div class="mt-2 p-3 shadow rounded-lg bg-white w-100" style="border-radius: 20px; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3); overflow-wrap: break-word;">
        <div class="row align-items-center">
          <div class="col-9 text-start ps-3">
            <h6 class="mb-1" style="font-size: 1rem; color: #0079c1;">Datos del perro</h6>
            <p class="mb-1" style="font-size: 0.8rem;"><i class="fas fa-paw me-2" style="color: #0079c1;"></i><strong style="color: #0079c1;">Raza:</strong> <span style="font-weight: normal;"><%= @petfound.breed %></span></p>

            <% if @petfound.color.present? %>
              <% colors_array = JSON.parse(@petfound.color).reject(&:blank?) %>
              <p class="mb-1" style="font-size: 0.8rem;"><i class="fas fa-palette me-2" style="color: #0079c1;"></i><strong style="color: #0079c1;">Color:</strong> <span style="font-weight: normal;"><%= colors_array.join(", ") %></span></p>
            <% end %>

            <p class="mb-1" style="font-size: 0.8rem;"><i class="fas fa-map-marker-alt me-2" style="color: #0079c1;"></i><strong style="color: #0079c1;">Señas particulares:</strong> <span style="font-weight: normal;"><%= @petfound.signs %></span></p>
            <p class="mb-0" style="font-size: 0.8rem;"><i class="fas fa-map-marker-alt me-2" style="color: #0079c1;"></i><strong style="color: #0079c1;">Dirección donde fue encontrado:</strong> <span style="font-weight: normal;"><%= @petfound.address %></span></p>
          </div>
          <div class="col-3 text-center">
            <i class="fas fa-dog" style="font-size: 2.5rem; color: #0079c1;"></i>
          </div>
        </div>
      </div>

      <!-- Tarjeta Datos de la Persona que lo encontró -->
      <div class="mt-2 p-3 shadow rounded-lg bg-white w-100" style="border-radius: 20px; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3); overflow-wrap: break-word;">
        <div class="row align-items-center">
          <div class="col-9 text-start ps-3">
            <h6 class="mb-1" style="font-size: 1rem; color: #0079c1;">Datos de la persona que lo encontró</h6>
            <p class="mb-1" style="font-size: 0.8rem;"><i class="fas fa-user me-2" style="color: #0079c1;"></i><strong style="color: #0079c1;">Nombre:</strong> <span style="font-weight: normal;"><%= @petfound.user.name %></span></p>
            <p class="mb-1" style="font-size: 0.8rem;"><i class="fas fa-envelope me-2" style="color: #0079c1;"></i><strong style="color: #0079c1;">Correo:</strong> <span style="font-weight: normal;"><%= @petfound.user.email %></span></p>
            <p class="mb-0" style="font-size: 0.8rem;"><i class="fas fa-phone me-2" style="color: #0079c1;"></i><strong style="color: #0079c1;">Teléfono:</strong> <span style="font-weight: normal;"><%= @petfound.user.phone_number %></span></p>
          </div>
          <div class="col-3 text-center">
            <% if @petfound.user.photo.attached? %>
              <%= image_tag @petfound.user.photo, class: "img-fluid rounded-circle", style: "width: 70px; height: 70px; object-fit: cover; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);" %>
            <% else %>
              <i class="fas fa-user-circle" style="font-size: 3rem; color: #0079c1;"></i>
            <% end %>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center mt-3">
        <% if @petfound.user && @petfound.user.phone_number.present? %>
          <%= link_to "https://wa.me/#{@petfound.user.phone_number}?text=Hola.%20Vengo%20de%20Encuentra%20Mascotas.%20Me%20puedes%20ayudar%20a%20encontrar%20a%20mi%20mascota:%20https://www.encuentramascotas.org/#{url_for(@petfound)}",
                      class: "btn btn-success d-flex align-items-center justify-content-center px-4 py-2",
                      target: "_blank" do %>
            <i class="fab fa-whatsapp me-2" style="font-size: 1.5rem;"></i>
            <span style="font-size: 1.2rem;">Contactar por WhatsApp</span>
          <% end %>
        <% end %>
      </div>

    </div>

    <!-- Columna derecha: Mapa -->
    <div class="col-md-6 mt-2">
      <div class="p-1 shadow rounded-lg bg-white w-100" style="border-radius: 20px; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);">
        <div id="map" style="height: 250px; width: 100%; border-radius: 20px;"></div>
      </div>
    </div>
  </div>
</div>
</body>

<!-- Estilos CSS -->
<style>
  /* Estilos para las imágenes y columnas del carrusel */
  .carousel-item .col-md-4 {
    padding: 0 5px;
  }

  .carousel-item img {
    width: 100%;
    height: auto;
    border: 1px solid #fff;;
  }

  /* Ajustes para pantallas pequeñas */
  @media (max-width: 768px) {
    .carousel-item .col-md-4 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
</style>

<!-- Scripts -->
<script>
  document.addEventListener('turbo:load', function() {
    mapboxgl.accessToken = '<%= ENV['MAPBOX_API_KEY'] %>';

    const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [<%= @petfound.longitude %>, <%= @petfound.latitude %>],
      zoom: 13.5,
    });

    const el = document.createElement('div');
    el.className = 'marker';
    el.style.backgroundImage = 'url(<%= asset_path("icon.png") %>)';
    el.style.width = '46px';
    el.style.height = '46px';
    el.style.backgroundSize = '100%';

    new mapboxgl.Marker(el)
      .setLngLat([<%= @petfound.longitude %>, <%= @petfound.latitude %>])
      .addTo(map);
  });
</script>
